@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Variáveis Cores */
:root {
    --gray: #262827;
    --dark-gray: #242323;
    --white: #ffffff;
    --black: #000000;
    --red: #e94848;
    --light-blue: #add8e6;
    --shadow: 0px 3px 7px 3px rgba(102,102,102,0.54);
}

/* Estrutura */
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    overflow-x: hidden;
    text-decoration: none;
}

html {
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
    height: 300vh;
    background-color: var(--gray); /* deletar apos inserção do banner */
}

/* Barra de Navegação */
#navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 15rem 1rem 15rem; 
    margin-top: 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
    z-index: 1;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2.5rem;
}

.nav-link{
    color: var(--white);
}

.nav-link:hover,
.nav-link:focus { /* navegação pelo teclado */
    color: var(--red);
    display: block;
    transition: .4s ease-in-out;
    text-decoration: none;
}

/* Barra de Navegação Responsiva */
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
}

/* Efeitos Barra de Navegação JavaScript */
.bg-color {
    background-color: var(--gray);
    color: var(--white);
    opacity: 90%;
}

/* Banner Principal */
.site-background {
    background: url(/images/bg.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 100vh;
    width: 100%;
    font-size: 20px;
}

#sobre-mim,
#blog {
    height: 600px;
    background-color: var(--red); /* placeholders */
}

#portfolio,
#contato {
    height: 600px;
    background-color: var(--light-blue);  /* placeholders */
}

/* Responsividade */
@media only screen and (max-width: 1140px) {

    #navbar {
        padding: 1rem 5rem 1.5rem 5rem 
    }

    .nav-menu {
        position: fixed;
        top: 10%;
        left: 100%;
        flex-direction: column;
        background-color: var(--white);
        width: 50%;
        text-align: center;
        transition: 0.7s;
        box-shadow: 0 10px 27px var(--shadow);
    }
    
    .nav-menu.active {
        left: 50%;
        top: 10%
    }
    
    .nav-item {
        margin: 0.5rem 0;
    }

    .nav-link {
        color: var(--black);
    }
    
    .nav-link:hover {
        color: var(--red);
        display: block;
        transition: .3s ease-in-out;
    }
    
    .hamburger {
        display: block;
        cursor: pointer;
    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}