@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');

/* Variáveis Cores */
:root {
    --gray: #262827;
    --dark-gray: #242323;
    --white: #ffffff;
    --black: #000000;
    --red: #fc1900;
    --light-blue: #c4e5f6;
    --shadow: 0px 3px 7px 3px rgba(201, 201, 201, 0.54);
}

/* Estrutura */
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    overflow-x: hidden;
    text-decoration: none;
}

html {
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
    height: 300vh;
}

h1::selection,
h2::selection,
h3::selection,
p::selection,
.text::selection {
    color: var(--light-blue);
    background-color: var(--red); /* Muda cor de fonte e texto ao ser selecionado */
}    

/* Barra de Navegação */
#navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem 1rem 10rem; 
    margin-top: 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
    z-index: 1;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2.5rem;
}

.nav-link{
    color: var(--white);
}

.nav-link:hover,
.nav-link:focus { /* navegação pelo teclado */
    color: var(--red);
    display: block;
    transition: .4s ease-in-out;
    text-decoration: none;
}

/* Barra de Navegação Responsiva */
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
}

/* Efeitos Barra de Navegação JavaScript */
.bg-color {
    background-color: var(--gray);
    color: var(--white);
    opacity: 90%;
}

/* Banner Principal */

.site-background {
    background: url(/images/bg.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 100vh;
    width: 100%;
    font-size: 20px;
}

.banner-text {
    display: flex;
    flex: 50%;
    padding-left: 10rem;
    color: var(--white);
    padding-top: 12rem;
    font-size: 5rem;  
}

.stroke-title {
    -webkit-text-stroke: 0.5px var(--white);
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

/* Banner Principal Efeito Digitação */
.container {
	text-align: left;
}

.text {
    font-family: Poppins, sans-serif;
	display: flex;
    padding-left: 10rem;
    color: var(--white);
    font-weight: 600;
    font-size: 6rem;
    }

.cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: var(--white);
	animation: blink .75s step-end infinite;
    margin-left: 10rem;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: var(--white); 
	}
}

/* Seção Sobre mim */
#sobre-mim {
    display: flex;
}

.column {
    flex: 50%;
    height: 500px;
}

.s1-h1 {
    font-size: 3rem;
    padding-left: 10rem;
    padding-top: 5rem;
    
}

.s2-h2 {
    font-size: 1.5rem;
    padding-right: 10rem;
    padding-top: 5rem;
    color: var(--dark-gray);
}

.s2-h3 {
    font-size: 0.8rem;
    padding-right: 10rem;
    padding-top: 1rem;
    color: var(--gray);
}

/* Seção Portfólio */

#portfolio {
    display: flex;
    background-color: var(--gray);
}

.p1-h1 {
    background-color: var(--gray);
    
}

/* Seção Citação */

#citacao {
    max-width: 600px;
    margin: 10px 30px;
    padding: 25px;
    background: var(--white);
    color: var(--dark-gray);
    font-family: Gelasio;
    text-align: center;
}


/* Responsividade */
@media only screen and (max-width: 1140px) {

    #navbar {
        padding: 1rem 16px 1.5rem 16px; 
    }

    .nav-menu {
        position: fixed;
        top: 10%;
        left: 100%;
        flex-direction: column;
        background-color: var(--white);
        opacity: 90%;
        width: 50%;
        text-align: center;
        transition: 0.7s;
        box-shadow: 0 10px 27px var(--shadow);
    }
    
    .nav-menu.active {
        left: 50%;
        top: 10%
    }
    
    .nav-item {
        margin: 0.5rem 0;
    }

    .nav-link {
        color: var(--black);
    }
    
    .nav-link:hover {
        color: var(--red);
        display: block;
        transition: .3s ease-in-out;
    }
    
    .hamburger {
        display: block;
        cursor: pointer;
    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media only screen and (max-width: 800px) {  /* Tablets */
    .site-background {
        background: url(/images/bg-medium.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (max-width: 600px) { /* Mobile */
    .site-background {
        background: url(/images/bg-small.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}